@import "nullstyle.scss";

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px 20px 0 20px;
}

@import "header.scss";